@model AccuFintech.Models.FacultyModel

@{
    ViewBag.Title = "Faculty List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["Status"] != null)
{
    if (TempData["Status"].Equals("Ok"))
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> @TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Failed!</strong> @TempData["Message"]
        </div>
    }
}


<script>
    var _SessionUserType = '@Session["_userType"].ToString().ToUpper()';
</script>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="font-weight-bold">Faculty Search</h5>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="form-group row">
                    <label class="col-form-label col-md-4 col-12">Franchaise</label>
                    <div class="col-md-8 col-sm-12">
                        @Html.DropDownListFor(model => model.FranchaiseCode, new SelectList(ViewBag.FranchaiseList, "Key", "Value"), "--Select Franchaise--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FranchaiseCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-15">
                <div class="form-group row" style="margin-left:250px; position: relative;">
                    <a href="/FacultyMaster/Create" class="btn btn-success btn-sm"style="float:right"><strong>+</strong> New Faculty</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-sm w-100" id="TBL_FacultyList">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>FCode</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>MaxQualification</th>
                        <th>Department</th>
                        <th>TotalExp</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/ProjectScripts/Faculty/FacultyMaster.js"></script>