

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/dist/img/AdminLTELogo.png" sizes="20x20" type="image/png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    <!-- Font Awesome JS -->
    <script defer src="~/Scripts/JS/solid.js"></script>
    <script defer src="~/Scripts/JS/fontawesome.js"></script>
    <script src="~/Scripts/JS/jquery_3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="~/Scripts/JS/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css">
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/JS/chosen.jquery.min.js"></script>
    @*<script disable-devtool-auto src='~/scripts/Devtool/disable-devtool.js'></script>*@
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <a id="nav-back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <div class="sidebar-header">
                @*<h5> @Session["_CompanyShortName"].ToString()</h5>*@
                <h5>Accufintech</h5>
                <strong>M</strong>
                @*@if (!string.IsNullOrEmpty(Convert.ToString(Session["_UserId"])))
                {
                    <div class="user-info">
                        <p class="text-light">Welcome : <span style="color:#abffff">@this.Session["_UserId"].ToString() </span></p>
                        <p class="text-light">Login as : <span style="color:#abffff">@this.Session["_UserType"]</span></p>
                        <p class="text-light">Financial Year : <span style="color:#abffff" id="CurrentFyear">@this.Session["_FYearName"]</span></p>
                    </div>
                }*@
            </div>

            <!-- Sidebar Menu -->
            <div id="side-menu">
                @{
                    Html.RenderAction("Index", "Menu", new { area = "" });
                }
            </div>
            <!-- /.sidebar-menu -->
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-light btn-sm">
                        <i class="fas fa-solid fa-bars"></i>
                    </button>
                    <button class="btn btn-link d-lg-block" style="display:none;text-decoration:none;color:#0056b3">
                        @*@Session["_SessionCompany"].ToString()*@
                        Accufintech
                    </button>
                    <button class="btn btn-light btn-sm d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-solid fa-caret-down"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li>
                                <a class="nav-link" href="@Url.Action("Dashboard","AdminDashBoard",new { area = "" })" style="color:#111835">
                                    <i class="fas fa-tachometer-alt"></i> Dashboard
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="@Url.Action("Logout","Account",new { area = "" })" style="color:#cd2d4c">
                                    <i class="fas fa-sign-out-alt"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()
            <div class="modal fade" id="globalModalControl" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content p-2" id="globalModal">
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - G Tech Web Solution</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/JS/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/JS/datatables.min.js"></script>
    <script src="~/scripts/JS/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
