@model AccuFintech.Models.UploadCertificateModel

@{
    ViewBag.Title = "Upload Certificate and Marksheet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .text-color{
        color:red;
    }
</style>

@if (TempData["Status"] != null)
{
    if (TempData["Status"].Equals("Ok"))
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> @TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Failed!</strong> @TempData["Message"]
        </div>
    }
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="card">
        <div class="card-body">
            <h5 class="font-weight-bold">Upload Certificate and Marksheet</h5>
            <hr/>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4 col-12">Franchaise</label>
                        <div class="col-md-8 col-sm-12">
                            @Html.DropDownListFor(model => model.Franchaise, new SelectList(ViewBag.FranchaiseList, "Key", "Value"), "--Select Franchaise--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Franchaise, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4 col-12">Course</label>
                        <div class="col-md-8 col-sm-12">
                            @Html.DropDownListFor(model => model.Course, new SelectList(ViewBag.CourseList, "Key", "Value"), "--Select Course--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4 col-12">Student</label>
                        <div class="col-md-8 col-sm-12">
                            @Html.DropDownListFor(model => model.Student, new SelectList(ViewBag.StudentList, "Key", "Value"), "--Select Student--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Upload</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">Certificate</td>
                            <td><input type="file" id="Certificate" name="Certificate"/><input type="hidden" id="StrCertificate"/></td>
                            <td><a href="#" id="UploadCertificate"></a> | <a href="#" id="ViewCertificate"></a></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Marksheet</td>
                            <td><input type="file" id="Marksheet" name="Marksheet" /><input type="hidden" id="StrMarksheet" /></td>
                            <td><a href="#" id="UploadMarksheet"></a> | <a href="#" id="ViewMarksheet"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/ProjectScripts/Certificate/UploadCertificate.js"></script>